<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstSuite" verbose="1">

    <test name="IE">
        <!--<parameter name="browser" value="IE"/>-->
    </test>


    <test name="RunOnChrome">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <exclude name="disable test"></exclude>
                <!--<include name="working test"></include>-->
            </run>
        </groups>
        <classes>
            <class name="comFordRu.TestRun.FiestaTabDesignTest" />
        </classes>
    </test>
</suite>
